<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title>P78081057's DBMS</title>
</head>

<body>
	<form method="POST" action="/edit2">
	<div style="text-align:center"><h1>This is a DBMS demo.</h1></div>
	<center>
	<a href="/">Logout</a>
	<br><br>
		你好！{{display_name}}
	<br><br>
	<a href="/index">回到查詢頁面</a><br><br>
	Record number: {{record_number}}<br>
	價格<input type = "text" name = "price" value={{price}}> <br>
	項目<input type = "text" name = "item" value="{{item}}"> <br>
	記錄<input type = "text" name = "editer" value="{{editer}}"> <br>
	類型<input type = "text" name = "itemtype" value={{itemtype}}> <br>
	品牌<input type = "text" name = "brand" value={{brand}}> <br>
	日期<input type = "text" name = "date" value={{date}}> <br>
	地點<input type = "text" name = "place" value={{place}}> <br>
	<br>
	<input type = "submit" value="送出">
	{{ output_text }}
	<br>
	<br>
</body>
</html>
