<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title>P78081057's DBMS</title>
</head>

<body>
	<center>
	<form method="POST" action="/index">
	<div style="text-align:center"><h1>This is a DBMS demo.</h1></div>
	<a href="/">Logout</a>
	<br><br>
		你好！<a href="/profile">{{display_name}}</a>
	<br><br>
	以
	<select name='search_options'>
	  <option value='{{search_options}}'selected='selected' hidden>{{search_options}}</optio>
	  <option value="ID">ID</option>
	  <option value="Username">Username</option>
	  <option value="Nickname">Nickname</option>
	</select>
	搜尋關鍵字 <input type = "text" name = "keywords" /> <br>
	<br>
	<input type = "submit" value="送出">
    <a href="/new">新增</a> <a href="/sql">使用SQL</a>
	</form>
	<br>
	<br>
	<table border="1" cellpadding="5" cellspacing="5">
		<tr style="text-align:center">
		{% for row in col_names %}
			<td style="text-align:center">{{ row }}</td>
		{% endfor %}<td style="text-align:center">{{ new_col }}</td>
		</tr>
	    {% for row in output_text %}
		    <tr style="text-align:center">
			{% for d in row %}
				<td style="text-align:center">{{ d }}</td>
			{% endfor %}
				<td style="text-align:center">
				<button>
					<a href='/edit1?record_number={{row[2]}}'>編輯</a>
				</button>
				<button onclick="delrecord({{row[2]}})">刪除</button>
				</td>
			</tr>
		{% endfor %}
	</table>
	</center>
	<script>
		function lalala(record_number){
			console.log(record_number)
		}
		function delrecord(record_number) {
			console.log(record_number)
		  var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		      //document.getElementById("demo").innerHTML =
		      //this.responseText;
			  console.log(123)
		    }
		  };
		  xhttp.open("POST", "/del", true);
		  xhttp.send(record_number);
		}
	</script>
</body>
</html>
