<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title>P78081057's DBMS</title>
</head>

<body>
	<form method="POST" action="/index">
	<div style="text-align:center"><h1>This is a DBMS demo.</h1></div>
	<center>
	<a href="/">Logout</a>
	<br><br>
		你好！{{display_name}}
	<br><br>
	以
	<select name='search_options'>
	  <option value='{{search_options}}'selected='selected' hidden>{{search_options}}</optio>
	  <option value="ID">ID</option>
	  <option value="Username">Username</option>
	  <option value="Nickname">Nickname</option>
	</select>
	搜尋關鍵字 <input type = "text" name = "keywords" /> <br>
	<br>
	<input type = "submit" value="送出">
    <a href="/new_cost">要新增記帳資料?</a> <a href="/sql">使用SQL語法來搜尋?</a>
	<br>
	<br>
	<table border="1" cellpadding="5" cellspacing="5">
	    {% for row in output_text %}
		    <tr style="text-align:center">
			{% for d in row %}
				<td style="text-align:center">{{ d }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
	</center>
</body>
</html>
